<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ut.madp.whatsgoingon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/FormTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/FormTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Activity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ut.madp.whatsgoingon.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EventFormActivity"
            android:label="@string/new_event_label"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ut.madp.whatsgoingon.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ConversationActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ut.madp.whatsgoingon.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.EventsOnDayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ut.madp.whatsgoingon.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShareEventActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ut.madp.whatsgoingon.activities.MainActivity" />
        </activity>

        <receiver
            android:name=".reminder.ReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".reminder.DismissReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".reminder.SnoozeReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>